name: Lint

on: { push: { branches-ignore: [main, production] } }

jobs:
  lint:
    runs-on: ubuntu-latest
    container: golang:1.22

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.57
